<!DOCTYPE HTML PUBLIC
"-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script language="javascript" src="/soap/ajax/12.0/connection.js"
	type="text/javascript"></script>
<script type="text/javascript" src="/js/functions.js"></script>
<script language="javascript">
sforce.connection.sessionId = '{!$Api.Session_ID}';
var mfDomain = "{!$Organization.GoogleAppsDomain}";
var mfAdmin = "{!Organization.GoogleAppsAdmin}";
var userId = "{!User.Id}";
var sessionId = "{!$Api.Session_ID}";
var userSessionToken = "{!$User.GDocsSessionToken__c}";
</script>
<script type="text/javascript" src="https://www.appirio.net/products/fb/docsearch/docsearch.js"></script>
<script type="text/javascript" src="https://www.appirio.net/products/fb/docsearch/addToSalesforce.js"></script>

<link href="/dCSS/Theme2/default/common.css" type="text/css"
	media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<link href="/dCSS/Theme2/default/custom.css" type="text/css"
	media="handheld,print,projection,screen,tty,tv" rel="stylesheet">
<link href="/sCSS/11.1/1196898152000/Theme2/default/elements.css"
	type="text/css" media="handheld,print,projection,screen,tty,tv"
	rel="stylesheet">
</head>
<body style="background-color: #F3F3EC;" onLoad="init();">

<div class="bOverviewSearch"><span
	style="width: 100%; text-align: right; float: right;"> <a
	href="javascript:goGoogleDocsHome();">Google Docs Home</a> 
<span style="display:none;" id="signout">| <a
	href="javascript:clearToken();">Sign out of Google</a></span></span>
 Search Google Docs:
<div class="pbSearch"> <input id="q"
	class="searchTextBox" disabled="true" type="text" title="Search Google Docs" size="30"
	name="q" maxlength="1000" onkeypress="checkEnter(event);" /> <input
	class="btnDisabled" type="submit" disabled="true" title=" Go! " id="go" name="go" value=" Go! "
	onclick="getDocList();" /> 

<a href="javascript:login();" id="connect">Connect to Google</a>
<span id="status"></span></div>
</div>
<p />
<div class="pbSubsection">
<table id="results" class="list" border="0" cellspacing="0"
	cellpadding="0" width="95%">
	<tr class=headerRow>
		<th nowrap>Action</th>
		<th nowrap>Author(s)</th>
		<th nowrap>Type</th>
		<th nowrap>Title</th>
	</tr>
</table>
</div>
<p />
</body>
</html>